@font-face {
  font-family: "open_sans";
  src: url("./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf");
}


body {
  margin: 0;
  font-family: open_sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
