@font-face {
  font-family: "open_sans_condensed";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Italic.ttf");
}


body {
  margin: 0;
  font-family: open_sans_condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
